SECRET_NEON_PG_AUTH=""
SECRET_GOOGLE_CLIENT_SECRET=""
SECRET_GOOGLE_CLIENT_ID=""

SECRET_ZERO_DEV_PG="important-non-pooler"

SECRET_BASE_URL="http://localhost:5173"
SECRET_AUTH_SECRET=""
SECRET_ZERO_AUTH_SECRET=""

ADMIN=""

SECRET_POLAR_API_KEY=""
SECRET_POLAR_WEBHOOK_SECRET=""
PUBLIC_POLAR_PRODUCT_ID_1=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_ENDPOINT_URL_S3=https://fly.storage.tigris.dev
AWS_ENDPOINT_URL_IAM=https://fly.iam.storage.tigris.dev
AWS_REGION=auto

# Tigris Bucket Name
BUCKET_NAME="f.e. hominio-profile-images"
